/* base.html */


body {
    background-color: #e1e1e1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%236200ff' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-brand, .nav-link, .dropdown-toggle {
    color: #ac50e1 !important;
}

.nav-link, .dropdown-toggle {
    transition: background-color 0.3s, border-bottom 0.3s;
}

.nav-link:hover, .dropdown-toggle:hover {
    border-bottom: 1.5px solid #ac50e1;
    border-radius: 3px ;
}

.dropdown-item:active {
    background-color: #ac50e1;
    color: white !important;
}


.dropdown{
    margin-top: 1.8px;
}

.form-check {
    margin-left: 30px;
}

.form-check-input {
    width: 40px;
    height: 20px;
    background-color: #6c757d;
    border-radius: 20px;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #ac50e1;
    border-color: #602b7f;
}


/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #9052ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f9f6fe' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    color: #e0e0e0;
}

.dark-mode .bg-body-tertiary {
    background-color: rgb(30 30 30) !important;
}

.dark-mode .navbar-brand, .dark-mode .nav-link, .dark-mode .dropdown-toggle {
    color: #ac50e1 !important;
}

.dark-mode .navbar .form-check-input:checked {
    background-color: #ac50e1;
}

.dark-mode .navbar .form-check-label {
    color: #ac50e1;
}

.dark-mode .navbar-toggler {
    background-color: white !important;
}

/* home.html */


a .btn-purple {
    width: 100px;
    align-items: center;
}

.btn-purple, .btn-purple:active {
    background-color: #6a0dad;
    border-color: #6a0dad;
    color: #ffffff;
}

.btn-purple:hover {
    background-color: #d4a5ff;
    border-color: #d4a5ff; 
    color: #6a0dad;
}

.btn-purple:active {
    background-color: #6a0dad !important; 
    border-color: #d4a5ff; 
    color: #ffffff;
}

.card-home{
    height: 100%;
    width: 250px;

}

.card img {
    height: 200px;
    object-fit: cover;
}


.ver-mas {
    display: block;
}

/* productos.html */

.buscar {
    margin-top: 33px !important;
}

.page-link {
    color: #ffffff;
}

.page-btn {
    background-color: #6a0dad;
}

.page-link:active {
    color: #6a0dad;
}


/* Responsive */

@media (max-width: 990px) {
    .nav-productos{
        margin-left: 13px;
        max-width: 90px;
    }

    .form-check {
        float: right;
        margin-right: 29px !important;
        margin-top: 10px;
    }
}